@import url("https://fonts.googleapis.com/css2?family=Hanken+Grotesk:ital,wght@0,100..900;1,100..900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;
body {
  margin: 0;
  /* position: fixed; */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smooting: grayscale;
  /* background-color: rgb(14, 16, 15); */
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  color:  rgb(14, 16, 15);
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
}
/* // <uniquifier>: Use a unique and descriptive class name */
/* // <weight>: Use a value from 100 to 900 */

.hanken-grotesk-font {
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 800;
  font-style: normal;
}
.no-inherit {
  all: unset !important;
}
.word {
  position: absolute;
  right: 50%;
  top: 50%;
  transform: translate(50%, -50%);
  font-family: "Hanken Grotesk", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  font-size: 42px;
}
.typo {
  font-family: "Hanken Grotesk", sans-serif !important;
  font-optical-sizing: auto;
  font-weight: 100;
  font-style: normal;
}

#root {
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
.adwid{
  height: 150px;
}
.position{
  position: relative;
  height: 100vh;
}
.nav{
  justify-content: center !important; 
}

.floating-container {
  position: relative;
  border: 2px solid #333; /* To visualize the container boundary */
  overflow: hidden; /* Ensures the text doesn't go out of bounds */
}

.floating-text {
  position: absolute;
  font-size: 18px; /* Adjust the size as needed */
  white-space: nowrap; /* Prevents the text from wrapping */
  animation: float 10s infinite ease-in-out;
}

@keyframes float {
  0% {
      transform: translate(0, 0);
  }
  100% {
      transform: translate(var(--random-x), var(--random-y));
  }
}
